@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-primary: #4a90e2;
  --color-secondary: #50e3c2;
  --color-accent: #222;
  --color-background: #fff;
  --color-foreground: #f5f5f5;
  --color-bghover: #f3f9ff;
  --color-border: #e0e0e0;
  --color-text: #222;
  --color-text-secondary: #444;
  --color-text-tertiary: #777;
  --color-link: #4a90e2;
  --color-link-hover: #357ab8;
}

.dark {
  --color-primary: #4a90e2;
  --color-secondary: #50e3c2;
  --color-accent: #fff;
  --color-background: #222;
  --color-foreground: #333;
  --color-bghover: #2b2b38;
  --color-border: #444;
  --color-text: #fff;
  --color-text-secondary: #ccc;
  --color-text-tertiary: #aaa;
  --color-link: #4a90e2;
  --color-link-hover: #357ab8;
}
/* @media (prefers-color-scheme: dark) {
  
} */

/* Global styles */
body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.Pagearea {
  padding-left: 10%;
  padding-right: 10%;
}

/* Typography */

h1 {
  font-size: 38px;
  font-weight: 700;
}
h2 {
  font-size: 32px;
  font-weight: 700;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 17px;
}

/* Responsive styles */
@media (max-width: 1268px) {
  h1 {
    font-size: 24px;
    font-weight: 700;
  }
  h2 {
    font-size: 20px;
    font-weight: 700;
  }
  h3 {
    font-size: 18px;
  }
  h6 {
    font-size: 15px;
  }
}
@media (max-width: 1568px) {
  .Pagearea {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (min-width: 2168px) {
  .Pagearea {
    width: 1800px;
    padding-left: 0%;
    padding-right: 0%;
    margin: auto;
  }
}
